.article{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    background: #FFFFFF;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    position: relative;
    &:hover {
        box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
    }
    img{
        width: 100%;
    }
    .article_body{
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        span{
            font-size: 12px;
            line-height: 150%;
            color: #8F8F8F;
        }
        h3{
            font-size: 18px;
            line-height: 150%;
            padding: 10px 0;
        }
        p{
            font-size: 16px;
            line-height: 150%;
            color: #414141;
        }
    }
    button{
        padding: 8px 32px;
        border: none;
        background: #E5FFDE;
        border-radius: 4px;
        font-size: 16px;
        line-height: 150%;
        color: #70C05B;
        margin-top: auto;
        margin-left: 10px;
        margin-bottom: 10px;
        &:hover{
            background: #70C05B;
            color: white;
        }
    }
}