.container{
    padding: 0 180px;
}
@media screen and (max-width:1440px){
    .container{
        padding: 0 116px;
    }
}
@media screen and (max-width:1000px){
    .container{
        padding: 0 45px;
    }
}
@media screen and (max-width:768px){
    .container{
        padding: 0 16px;
    }
}
@media screen and (max-width:360px){
    .container{
        padding: 0 12px;
    }
}