@media screen and (max-width:580px){
    .Liked_div{
        margin-bottom: 300px;
    }
}
@media screen and (max-width:400px){
    .Liked_div{
        margin-bottom: 260px;
    }
}
@media screen and (max-width:350px){
    .Liked_div{
        margin-bottom: 200px;
    }
}
@media screen and (max-width:325px){
    .Liked_div{
        margin-bottom: 250px;
    }
}